<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Link Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Linked Members</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngFor="let user of (userData | async)?.usersList">
      <p>{{ user.newInputEmail }}</p>
    </ion-card-content>
      
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" *ngFor="let user of (userData | async)?.usersList">
        <div>
          <agm-map [latitude]="user.newLatitude" [longitude]="user.newLongitude">
            <agm-marker [latitude]="user.newLatitude" [longitude]="user.newLongitude">
                <agm-info-window>
                  <h3><strong>{{ user.newInputEmail }}</strong></h3>
                </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
        <ion-label position="floating">Enter user email</ion-label>
        <ion-input type="text" [(ngModel)]="linkUserEmail"></ion-input>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" fill="solid" color="dark" (click)="linkUser(linkUserEmail)">Link</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" fill="solid" color="danger" (click)="deleteUser(linkUserEmail)">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>