<ion-content padding>
  <ion-tabs #tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="link">
        <ion-label>Link</ion-label>
        <ion-icon name="paper-plane"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-label>Profile</ion-label>
        <ion-icon name="contact"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="chat">
        <ion-label>Message</ion-label>
        <ion-icon name="chatboxes"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tips">
        <ion-label>Tips</ion-label>
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>